<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="" thread-count="0">
    <test name="['Test']">
        <classes>
            <class name='org.example.TestRunnerClass'>
                <methods>
                    <include name='TC7_Sample_Test_Case_7_skip'/>
                    <include name='TC8_Sample_Test_Case_8_skip'/>
                    <include name='TC9_Sample_Test_Case_9_fail'/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
